.about {

  &__image {
    padding-top: 13vh;
    height: 100vh;
    margin: 2rem;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/000/652/765/large/juliano-araujo-swag.jpg");
    padding: 2rem;
    background-position: center;
    background-size: cover;
  }
}
