.about {

  &__image {
    margin-top: 13vh;
    height: 100vh;
    margin: 2rem;
    background-image: url("http://i0.kym-cdn.com/entries/icons/original/000/016/546/hidethepainharold.jpg");
    padding: 2rem;
    background-position: center;
    background-size: cover;
  }
}
