.cardHolder {
  display: flex;
  flex-wrap: wrap;


  &__card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15rem;
    height: 15rem;

    &__cardImage {
      height: 100%;
      width: 100%;
      background-size: cover;
    }
  }
}
