.footer {
  color: white;
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darken($gray, 40%);
  clear:both;

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($gray, 30%);
    height: 3rem;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darken($gray, 40%);
    height: 8rem;
    width: 100%;
  }
}
