#viljum ekki node_modules obviously
node_modules

#Engin java build
*.class
*.jar
*.war
*.ear

#engin gradle build drasl
server/build/

#Undo fyrir gradle wrapper
!*/gradle-wrapper.jar

#Baeta vid .gradle
server/.gradle

#Oll intellij setup
server/initial/.idea
HotelApi/.idea/*

#webpack-bundle sem er að valda conflicts
build/webpack-bundle.js
build/webpack-bundle.js.map
