
@import "./scss/variables.scss";
@import "./scss/jumbotron.scss";
@import "./scss/cardHolder.scss";
@import "./scss/footer.scss";
@import "./scss/navbar.scss";
@import "./scss/map.scss";

html {
  display: flex;
  flex-direction: column;
  font-family: $fonts;
  font-weight: 600;
  font-size: 12px;
  margin: 0px;
  background-color: #90C3D4;
}

.displaynone {
  display: none;
}

.displayhidden {
  display: hidden;
}

body {
  background-size: cover;
  margin: 0px;
}


.cardImage {
  height: 150px;
  width: 350px;
  width: 100%;
}
