
@import "./scss/variables.scss";
@import "./scss/jumbotron.scss";
@import "./scss/cardHolder.scss";
@import "./scss/footer.scss";
@import "./scss/header.scss";
@import "./scss/navbar.scss";
@import "./scss/completed.scss";
@import "./scss/about.scss";
@import "./scss/contact.scss";
@import "./scss/review.scss";

html {
  //setjum allt sem display none thangad til JS er loaded
  display: flex;
  flex-direction: column;
  font-family: $fonts;
  font-weight: 600;
  font-size: 12px;
  margin: 0px;
  background-color: $mainBackground;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

.displaynone {
  display: none;
}

.displayhidden {
  visibility: hidden;
}

body {
  background-size: cover;
  margin: 0px;
}


.cardImage {
  height: 150px;
  width: 350px;
  width: 100%;
}
